---
layout: default
home: true
---
<body>
  <section>
     <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
         <!– <h3>What I do for work...</h3> –> 
          <p>I work for Amazon Web Services as a Cloud Support Engineer II. I work on resolving critical and highly complex customer problems. I also work on assisting customers through migrations, modernizations, streaming, and go-live events.</p>
          <p>I enjoy learning new technologies to help make people, processes and infrastructure better. </p>
        </div>
      </div>
     </div>
  </section>  
</body> 
<!--
<body>
  <section>
     <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h3>What I do in the community...</h3>
          <p>I am an active member of the local AWS, Docker, Ansible, and RedHat communities.I like establishing a strong network and building productive relationships with tech-savvy individuals.</p>
          <p>I enjoy working on open-source technologies, assisting in organizing local technical events, and presenting at local meetups to share ideas and knowledge with other meetup attendees. I certainly love helping others learn and helping solve problems.</p>
        </div>
      </div>
     </div>
  </section>  
</body>  
-->
<!--
<h4 class="posts-item-note">Recent Posts</h4>
{% for post in site.posts %}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{% endfor %}
-->
