---
layout: default
home: true
---

<body>
  <section>
     <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2>What I do at home...</h2>
          <p>I'm blessed with a beautiful wife and four fantastic daughters! We have lots of fun, learn together, and laugh often.</p>
          <p>We are also members of <a href="https://mormon.org">The Church of Jesus Christ of Latter-Day Saints</a> (yes... I was one of those missionaries that went around knocking on doors). If you have questions about what that means, don't hesitate to reach out! If it's not obvious from what's above, I love answering questions.</p>
        </div>
      </div>
     </div>
  </section>  
</body>  

<!--
<h4 class="posts-item-note">Recent Posts</h4>
{% for post in site.posts %}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{% endfor %}
-->